.card{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.secondaryOption{
    background-color: white;
    color: black;
}

.secondaryOption:hover{
    background-color: white;
    text-decoration: underline;
}

.card-header-title{
    border-radius: none;
    border: none;
    border-style: none;
}